Package: HFSTPY-DEV
Source: HFSTPY
Version: 5.0-1
Section: devel
Priority: optional
Architecture: amd64
Installed-size: 1 000
Depends: hfst-dev (= 5.0-1), PYTHON_NAME (>= PYTHON_MIN_VERSION), libc6 (>= 1.1), libstdc++6 (>= 4.4.3)
Maintainer: HFST team <hfst-info@sf.net>
Description: HFST python bindings.
 For more information on HFST, see the homepage below.
Homepage: http://hfst.sf.net
