Package: foo-dev
Source: foo
Version: 1-1.1
Section: devel
Priority: optional
Architecture: amd64
Provides: libbar
Depends: libc6 (>= 1.1)
Maintainer: FOO team <foo@bar.fi>
Description: This package contains FOO library and commandline tools
  More description here.
