Source: hfst
Priority: extra
Maintainer: Flammie Pirinen <flammie@iki.fi>
Build-Depends: debhelper (>= 7), autotools-dev, libreadline6, m4, flex (>= 2.5.35), gawk
Standards-Version: 3.8.3
Section: libs
Homepage: http://hfst.sf.net

Package: hfst-dev
Section: libdevel
Architecture: any
Depends: hfst3 (= ${binary:Version})
Description: Helsinki finite-state technology API bridge libraries
 HFST is an API for handling multiple FST libraries.

Package: hfst3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Helsinki finite state technology libraries and tools
 HFST library and tools contain finite-state API for using several open source
 FST libraries and collection of commandline tools for processing automata.
